.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  height: 50vh;
  align-content: center;
  justify-content: start;
  align-items: center;
  justify-items: center;
}

.item {
  padding: 10px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  text-align: center;
}

.item :hover {
  background-color: #fff;
  border: 1px solid #ccc;
}

.item.active {
  background-color: #fff;
  border: 1px solid #fff;
}
